*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.container{
    margin: auto;
    width: 1024px;
}

.lingua{
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid black;
    line-height: 70px;
    color: rgb(86, 105, 120);
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.nolist > *{
    display: inline-block;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.navlink{
    color: rgb(50,73,91);
    padding: 10px;
    font-weight: bold;
}

#unico{
    border-right: black 1px solid;
}

#btnonly{
    color: rgb(254, 119, 90);
    border:rgb(254, 119, 90) 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.btnorange{
    background-color:rgb(254, 119, 90);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.spazio{
    margin-left: 20px;
}

nav{
    line-height: 70px;
}

.logo{
    vertical-align: middle;
}

.hero{
    height: 700px;
    position: relative;
    background-image: url(jumbotron.png);
    background-position-y:-100px;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapperhero{
    width: 50%;
    padding-top: 80px;
}

.wrapperhero >*{
    margin-bottom: 40px;
}

.lineatesto{
    line-height: 30px;
}


h1{
    font-size: 50px;
    color: rgb(50,73,91);
}

.second{
    padding: 20px;
}

.paragrafohero{
    margin-top: 30px;
    font-size: 12px;
}

.middlebar{
    height: 90px;
    background-color: rgb(175, 235, 228);
    border-top: 3px solid; 
    border-bottom: 3px solid;
    border-color: rgb(51, 71, 91);

}

.corpo{
    background-color: rgb(244, 249, 253);
    padding-top: 40px;
    padding-bottom: 40px;
}

.cubo{
    text-align: center;
    color: rgb(50,73,91);
}

.cubo > img{
    width: 300px;
}

.cubo > h3{
    font-size: 35px;
    margin-bottom: 20px;
}

.free{
    background-color: white;
    position: relative;
}

.wrapperfree{
    position: relative;
    width: 30%;
}


.free img{
    width: 150px;
    margin-bottom: 30px;
    
}


