*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.container{
    margin: auto;
    width: 1024px;
    position: relative;
}

.testa{
    background-color: rgb(244, 249, 253);
    border-bottom: 1px solid black;
    line-height: 70px;
    color: rgb(86, 105, 120);
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.nolist > *{
    display: inline-block;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.navlink{
    color: rgb(50,73,91);
    padding: 10px;
    font-weight: bold;
}

#unico{
    border-right: black 1px solid;
}

#btnonly{
    color: rgb(254, 119, 90);
    border:rgb(254, 119, 90) 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.btnorange{
    background-color:rgb(254, 119, 90);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.spazio{
    margin-left: 20px;
}

nav{
    line-height: 70px;
}

.logo{
    vertical-align: middle;
}

.hero{
    height: 700px;
    position: relative;
    background-image: url(jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapperhero{
    width: 50%;
    padding-top: 80px;
}

.wrapperhero >*{
    margin-bottom: 40px;
}

.lineatesto{
    line-height: 30px;
}


h1{
    font-size: 50px;
    color: rgb(50,73,91);
}

.second{
    padding: 20px;
}

.paragrafo{
    margin-top: 30px;
    font-size: 12px;
}

.middlebar{
    height: 90px;
    background-color: rgb(175, 235, 228);
    border-top: 3px solid; 
    border-bottom: 3px solid;
    border-color: rgb(51, 71, 91);

}

.corpo{
    background-color: rgb(244, 249, 253);
    padding-top: 40px;
    padding-bottom: 40px;
}

.cubo{
    text-align: center;
    color: rgb(50,73,91);
    margin-bottom: 40px;
}

.cubo > img{
    width: 300px;
}

.cubo > h3{
    font-size: 35px;
    margin-bottom: 20px;
}

.free{
    background-color: white;
    position: relative;
    color: rgb(50,73,91);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 30px;
}

.free > div{
    position: relative;
}

.wrapperfree{
    position: relative;
    width: 30%;
    text-align: center;

}


.free img{
    width: 150px;
    margin-bottom: 30px;
}

.free h3{
    font-size: 20px;
    display: inline-block;
    margin-bottom: 30px;
}

.free p{
    margin-bottom: 30px;
}

#linea{
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    margin-left: 30px;
}

.check{
    background-color:rgb(254, 119, 90);
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 10px;
    line-height: 15px;
    vertical-align: middle;
    margin: 0 10px;
}

.column{
    width: 30%;
    background-color: white;
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
    color: rgb(50,73,91);
}

.column.two{
    margin: 0 5%;
}


.column > img{
    width: 100px;  
    height: 105px;
}

.column > p{
    font-size: 15px;
    margin-bottom: 50px;
}

.column > hr {
    margin-bottom: 30px;
}

.column >ul{
    list-style: none;
    text-align: left;
    margin: 50px 0;
}

.column >.btnorange{
    display: inline-block;
}

.tabella{
    background-color: rgb(0, 173, 181);
    color: white;
    text-align: center;
    padding: 50px 0 80px 0;
}

.tabella h3{
    font-size: 35px;
    margin-bottom: 50px;
}

.middletable{
    width: 25%;
    text-align: center;
    padding: 30px;
    vertical-align: middle;
}
.middletable{
    border: white 1px solid;
    border-top: none;
    border-left: none;
}


.middletable >*{
    margin: 10px 0;
}

.middletable >h2{
    font-size: 50px;
}

.b-right{
    border-right: none;
}

.b-sotto{
    border-bottom:none;
}

.tabella  .clearfix{
    margin-top: 40px;
}
.wrapplogs{
    color: rgb(50,73,91);
    padding-bottom: 40px ;
}
.wrapplogs > .f-left{
    width: 30%;
    padding: 40px;
}
.wrapplogs h3{
    font-size: 45px;
    margin-bottom: 30px;
}
.wrapplogs > .f-right{
    width: 70%;
    padding: 40px;
}
.wrapplogs img{
    width: 150px;
    padding: 10px;
    vertical-align: middle;
    
}
#donna{
    position: absolute;
    right: 0;
    top: -50px;
    width: 350px;
}

.wrapplogs h2{
    font-size: 30px;
    margin: 30px 0;
}

.wrapplogs .btnorange{
    margin: 50px 0px;
    display: inline-block
}

footer{
    background-color: rgb(50, 73, 91);
    padding: 30px 0;

}

footer ul{
    width: 25%;
    list-style: none;
    color: white;
}
h4 {
    margin-bottom: 20px;
}
footer > div > ul > li >a{
    color: rgb(218, 222, 224);
}

ul  img{
    height: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.btnfooter{
    background-color: rgb(218, 222, 224);
    padding: 10px;
    margin: 20px 0;
    display: inline-block;
    color: rgb(50, 73, 91) ;
    border-radius: 10px;
}

.lingua{
    text-align: center;
}

.lingua a{
    color: rgb(218, 222, 224);
    margin-right: 30px;
}

